{% extends "base_bootsrap.html" %}
{% load static %}
{% block content %}
    <h1>Note List</h1>
    <p>
        {% if study_list %}
        <ul>
            {% for study in object_list %}
            <li>
                <a href="{% url 'blogs:study' study.id %}">{{ study.title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>There are no blogs in the database</p>
        {% endif %}
    </p>
    <a href="{% url 'blogs:all_blogs' %}">Go back to blog.</a>
{% endblock %}